﻿@model Dogadane.Models.RegisterViewModel
@{
    ViewBag.Title = "Rejestracja";
}
<style>
    .chosen-container-multi .chosen-choices
    {
        border-radius: 5px;
        box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
        border: none;
        height: 40px !important;
        border-bottom: 1px solid #ddd;
    }


</style>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { style = "padding-top: 30px;", @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { style = "padding-top: 30px;", @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { style = "padding-top: 30px;", @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { style = "padding-top: 30px;", @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Skills, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            <select id="Skills" name="Skills" data-placeholder="Wybierz minimum jedną umiejetność" class="chosen-select form-control" multiple>
                @foreach (var skill in Model.SkillsAll)
                {
                    <option value="@skill">@skill</option>
                }
            </select>
            @Html.ValidationMessageFor(m => m.Skills, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Zarejestruj" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Custom/register.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
}
