﻿@model Dogadane.Models.RegisterViewModel
@{
    ViewBag.Title = "Uzupełnienie konta";
}

<style>
    .chosen-container-multi .chosen-choices {
        border-radius: 5px;
        box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
        border: none;
        height: 40px !important;
        border-bottom: 1px solid #ddd;
    }
</style>



@using (Html.BeginForm("UserManagmentStepTwo", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <hr />


    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { style = "padding-top: 30px;", @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { style = "padding-top: 30px;", @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { style = "padding-top: 30px;", @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    //Wykomentowane w celu zmiejszenia liczby requestów
    @*<div class="form-group">
        @Html.LabelFor(m => m.Adress, new {style = "padding-top: 30px;", @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Adress, new { @class = "form-control" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(m => m.AvatarPath, new { style = "padding-top: 30px;", @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.AvatarPath, new { type = "file", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Skills, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            <select id="Skills" name="Skills" data-placeholder="Wzbiery minimum jedna umiejetnosc" class="chosen-select" multiple>
                @foreach (var skill in Model.SkillsAll)
                {
                    <option value="@skill" @(Model.Skills.Contains(skill) ? "selected" : "")>@skill</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Zapisz" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.geocomplete.min.js"></script>

    <script src="~/Scripts/chosen.jquery.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgRvLUy9eRsH0DTnkaw0SuCy1nOApW_IA&libraries=places"></script>
    <script src="~/Scripts/Custom/register.js"></script>
}

