﻿@model string
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Content/payu.css" rel="stylesheet" />
}

<!--https://secure.snd.payu.com/api/v2_1/orders-->
@*<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="POST" action="https://secure.snd.payu.com/api/v2_1/orders" id="payu-payment-form">
                            <input type="hidden" id="customerIp" name="customerIp" value="123.123.123.123">
                            <input type="hidden" name="merchantPosId" value="300756">
                            <input type="hidden" name="description" value="Opis zamówienia">
                            <input type="hidden" name="totalAmount" value="1000">
                            <input type="hidden" name="currencyCode" value="PLN">
                            <input type="hidden" name="products[0].name" value="Produkt 1">
                            <input type="hidden" name="products[0].unitPrice" value="1000">
                            <input type="hidden" name="products[0].quantity" value="1">
                            <input type="hidden" name="notifyUrl" value="http://shop.url/notify">
                            <input id="signature" type="hidden" name="OpenPayu-Signature" value="">
                            <button id="form-submit" type="submit" formtarget="_blank"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<div class="wrapper wrapper-content animated fadeInRight" style="margin-top: 80px">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form method="POST" action="https://secure.snd.payu.com/api/v2_1/orders" id="payu-payment-form">

                        <input type="hidden" id="customerIp" name="customerIp" value="123.123.123.123">
                        <input type="hidden" name="merchantPosId" value="300756">
                        <input type="hidden" name="description" value="Opis zamówienia">
                        <input type="hidden" name="totalAmount" value="999">
                        <input type="hidden" name="currencyCode" value="PLN">

                        <input type="hidden" name="products[0].name" value="Kup 100">
                        <input type="hidden" name="products[0].unitPrice" value="999">
                        <input type="hidden" name="products[0].quantity" value="1">
                   
                        <div class="form-group">
                            <label for="sel1">Wybierz doładowanie:</label>
                            <select class="form-control" id="sel1">
                                <option>100</option>
                                <option>250</option>
                                <option>500</option>
                                <option>1000</option>
                            </select>
                        </div>

                        <input type="hidden" name="buyer.email" value="micalm@example.pl" />
                        <input type="hidden" name="buyer.firstName" value="Mateusz" />
                        <input type="hidden" name="buyer.language" value="pl_PL" />
                        <input type="hidden" name="buyer.lastName" value="Kamiński" />
                        <input type="hidden" name="buyer.phone" value="725115841" />

                        <input type="hidden" name="buyer.delivery.city" value="Czestochowa">
                        <input type="hidden" name="buyer.delivery.countryCode" value="PL">
                        <input type="hidden" name="buyer.delivery.name" value="Opis adresu">
                        <input type="hidden" name="buyer.delivery.postalCode" value="42-200">
                        <input type="hidden" name="buyer.delivery.recipientEmail" value="mateusz@gmail.com">
                        <input type="hidden" name="buyer.delivery.recipientName" value="Mateusz">
                        <input type="hidden" name="buyer.delivery.recipientPhone" value="882993992">

                        <input type="hidden" name="buyer.delivery.street" value="Waszyngtona">

                        <input type="hidden" name="buyer.invoice.city" value="Czestochowa">
                        <input type="hidden" name="buyer.invoice.countryCode" value="PL">
                        <input type="hidden" name="buyer.invoice.einvoiceRequested" value="False">
                        <input type="hidden" name="buyer.invoice.name" value="Opis adresu">
                        <input type="hidden" name="buyer.invoice.postalCode" value="42-200">
                        <input type="hidden" name="buyer.invoice.recipientEmail" value="dawidpluta@gmail.com">
                        <input type="hidden" name="buyer.invoice.recipientName" value="Mateusz">
                        <input type="hidden" name="buyer.invoice.recipientPhone" value="882993992">
                        <input type="hidden" name="buyer.invoice.street" value="Waszyngtona">
                        <input type="hidden" name="buyer.invoice.tin" value="990992993">
                        @*<input type="hidden" name="shippingMethods[0].country" value="PL">
                        <input type="hidden" name="shippingMethods[0].name" value="Kurier Pocztex">
                        <input type="hidden" name="shippingMethods[0].price" value="10000">

                        <input type="hidden" name="shippingMethods[1].country" value="PL">
                        <input type="hidden" name="shippingMethods[1].name" value="Kurier UPS">
                        <input type="hidden" name="shippingMethods[1].price" value="16000">*@

                        <input type="hidden" name="notifyUrl" value="http://shop.url/notify">
                        <input id="signature" type="hidden" name="OpenPayu-Signature" value="">

                        <button id="signatureSubmit" type="submit" formtarget="_blank"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/payu.js"></script>
}
