﻿@using Microsoft.AspNet.Identity
@model Dogadane.Models.Offer

@{
    ViewBag.Title = "Szczegóły oferty";
}
<br /><br /><br />

@section Styles {
    <style>
        .mytext {
            border: 0;
            padding: 10px;
            background: whitesmoke;
        }

        .text {
            width: 75%;
            display: flex;
            flex-direction: column;
        }

            .text > p:first-of-type {
                width: 100%;
                margin-top: 0;
                margin-bottom: auto;
                line-height: 13px;
                font-size: 12px;
            }

            .text > p:last-of-type {
                width: 100%;
                text-align: right;
                color: silver;
                margin-bottom: -7px;
                margin-top: auto;
            }

        .text-l {
            float: left;
            padding-right: 10px;
        }

        .text-r {
            float: right;
            padding-left: 10px;
        }

        .avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            float: left;
            padding-right: 10px;
        }

        .macro {
            margin-top: 5px;
            width: 85%;
            border-radius: 5px;
            padding: 5px;
            display: flex;
        }

        .msj-rta {
            float: right;
            background: whitesmoke;
        }

        .msj {
            float: left;
            background: white;
        }

        .frame {
            background: #e0e0de;
            height: 450px;
            overflow: hidden;
            padding: 0;
        }

            .frame > div:last-of-type {
                position: absolute;
                bottom: 5px;
                width: 100%;
                display: flex;
            }

        #chatModal ul {
            width: 100%;
            list-style-type: none;
            padding: 18px;
            position: absolute;
            bottom: 32px;
            display: flex;
            flex-direction: column;
        }

        .msj:before {
            width: 0;
            height: 0;
            content: "";
            top: -5px;
            left: -14px;
            position: relative;
            border-style: solid;
            border-width: 0 13px 13px 0;
            border-color: transparent #ffffff transparent transparent;
        }

        .msj-rta:after {
            width: 0;
            height: 0;
            content: "";
            top: -5px;
            left: 14px;
            position: relative;
            border-style: solid;
            border-width: 13px 13px 0 0;
            border-color: whitesmoke transparent transparent transparent;
        }

        input:focus {
            outline: none;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #d4d4d4;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: #d4d4d4;
        }

        :-ms-input-placeholder { /* IE 10+ */
            color: #d4d4d4;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: #d4d4d4;
        }
    </style>
}

<div id="chatModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Porozmawiaj z twórcą oferty</h4>
            </div>
            <div class="modal-body">
                <div class="frame">
                    <ul></ul>
                    <div>
                        <div class="msj-rta macro" style="margin:auto">
                            <div class="text text-r" style="background:whitesmoke !important">
                                <input class="mytext" placeholder="Type a message" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>

<section style="margin-top: 20px">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img class="img-responsive" src="https://placeimg.com/500/500/people" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="dgd-details-title-main">
                        @Model.Title
                    </div>
                </div>
            </div>
            <div class="dgd-details-body" style="height: 240px">
                <div class="row">
                    <div class="col-md-12">
                        <h6>@Model.Description</h6>
                    </div>
                </div>
                @if (User.Identity.GetUserId() != Model.SourceUser.Id)
            {
                    <button class="btn btn-success dgd-button-message" id="bookOffer">Dogadaj się!</button>
                }
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        @if (Model.SourceUser.Rates.Any())
        {
            <div class="col-md-6">
                <div class="dgd-details-title">Oceny</div>
                <div class="dgd-details-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Kontakt</h6>
                            <div>
                                @for (var i = 0; i < (int)Math.Floor(Model.SourceUser.Rates.Average(r => r.Contact)); i++)
                                {
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                }
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Rzetelność</h6>
                            <div>
                                @for (var i =
0; i < (int)Math.Floor(Model.SourceUser.Rates.Average(r => r.Reliability)); i++)
                                {
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Profesjonalizm</h6>
                            <div>
                                @for (var i =
0; i < (int)Math.Floor(Model.SourceUser.Rates.Average(r => r.Skill)); i++)
                                {
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
        <div class="col-md-6">
            <div class="dgd-details-title">
                Umiejętności
            </div>
            <div class="dgd-details-body">
                <ul>
                    @foreach (var skill in Model.SourceUser.Skills)
                    {
                        <li>@skill.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="dgd-details-title">Zdjęcia</div>
    <div class="dgd-details-body">
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="https://placeimg.com/500/500/people" />
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="https://placeimg.com/500/500/people" />
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="https://placeimg.com/500/500/people" />
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="https://placeimg.com/500/500/people" />
            </div>
        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col-md-3">
                <img class="img-responsive" src="https://placeimg.com/500/500/people" />
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="https://placeimg.com/500/500/people" />
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="https://placeimg.com/500/500/people" />
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="https://placeimg.com/500/500/people" />
            </div>
        </div>
    </div>
</section>
@section scripts
{
    <script>
        $("#bookOffer")
            .click(function(e) {
                $.ajax({
                    url: "/Offer/Book",
                    method: 'POST',
                    data: {
                        "offerId": '@Model.Id'
                    },
                    success: function (data) {
                        if (data.Success) {
                            toastr.success("Wysłano powiadomienie użytkownikowi!");
                            //-- Clear Chat
                            resetChat();

                            //-- Print Messages
                            insertChat("me", "Hello Tom...", 0);
                            insertChat("you", "Hi, Pablo", 1500);
                            $("#chatModal").modal('show');
                        }
                    }
                });
            });
        var me = {};
        me.avatar = "https://lh6.googleusercontent.com/-lr2nyjhhjXw/AAAAAAAAAAI/AAAAAAAARmE/MdtfUmC0M4s/photo.jpg?sz=48";

        var you = {};
        you.avatar = "https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg";

        function formatAMPM(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return strTime;
        }

        //-- No use time. It is a javaScript effect.
        function insertChat(who, text, time = 0){
            var control = "";
            var date = formatAMPM(new Date());

            if (who == "me"){

                control = '<li style="width:100%">' +
                                '<div class="msj macro">' +
                                '<div class="avatar"><img class="img-circle" style="width:100%;" src="'+ me.avatar +'" /></div>' +
                                    '<div class="text text-l">' +
                                        '<p>'+ text +'</p>' +
                                        '<p><small>'+date+'</small></p>' +
                                    '</div>' +
                                '</div>' +
                            '</li>';
            }else{
                control = '<li style="width:100%;">' +
                                '<div class="msj-rta macro">' +
                                    '<div class="text text-r">' +
                                        '<p>'+text+'</p>' +
                                        '<p><small>'+date+'</small></p>' +
                                    '</div>' +
                                '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="'+you.avatar+'" /></div>' +
                          '</li>';
            }
            setTimeout(
                function(){
                    $("#chatModal ul").append(control);

                }, time);

        }

            function resetChat(){
                $("#chatModal ul").empty();
            }

            $(".mytext").on("keyup", function(e){
                if (e.which == 13){
                    var text = $(this).val();
                    if (text !== ""){
                        insertChat("me", text);
                        $(this).val('');
                    }
                }
            });

    </script>

}
