﻿@model Dogadane.ViewModels.UserOffersViewModel

@{
    ViewBag.Title = "Moje Oferty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/Content/bars-movie.css" rel="stylesheet" />
    <style>
        .br-theme-bars-movie .br-widget {
            left: 50%;
            position: absolute;
            margin-left: -150px;
            width: 300px;
        }

            .br-theme-bars-movie .br-widget .br-current-rating {
                width: 300px;
            }

            .br-theme-bars-movie .br-widget a {
                width: 58px;
            }

        #rateUserModal .form-group {
            margin-bottom: 50px;
        }
    </style>
}

<div id="rateUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Oceń użytkownika</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <form id="rateUserForm">
                    <input type="hidden" id="hidTargetUserId" />
                    <input type="hidden" id="hidOfferId" />
                    <div class="form-group">
                        <label for="ddContactRating">Kontakt</label>
                        <select id="ddContactRating" autocomplete="off">
                            <option value="1">Paskudny</option>
                            <option value="2">Zły</option>
                            <option value="3">Średni</option>
                            <option value="4">Dobry</option>
                            <option value="5">Genialny</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="ddReliabilityRating">Rzetelność</label>
                        <select id="ddReliabilityRating" autocomplete="off">
                            <option value="1">Paskudny</option>
                            <option value="2">Zły</option>
                            <option value="3">Średni</option>
                            <option value="4">Dobry</option>
                            <option value="5">Genialny</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="ddSkillRating">Profesjonalizm</label>
                        <select id="ddSkillRating" autocomplete="off">
                            <option value="1">Paskudny</option>
                            <option value="2">Zły</option>
                            <option value="3">Średni</option>
                            <option value="4">Dobry</option>
                            <option value="5">Genialny</option>
                        </select>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                <button id="btnConfirmRate" class="btn btn-success pull-right">Oceń!</button>
            </div>
        </div>

    </div>
</div>

<h4 style="margin-top: 80px">Oferty otwarte</h4>
<div class="row">
    @foreach (var offer in Model.OpenOffers)
    {
        <div class="col-sm-3 dgd-offer-tile">
            <div class="dgd-offer-tile-image"><img class="img-responsive" src="https://placeimg.com/500/500/people" /></div>
            <div class="dgd-offer-tile-col">
                <div class="dgd-offer-tile-title">@offer.Title</div>
                <div class="dgd-offer-tile-skill"></div>
            </div>
            <div style="clear: both">
                <div class="dgd-offer-tile-desc">@offer.Description</div>
                <div class="dgd-offer-tile-category">@offer.CategoryName</div>
            </div>
        </div>
    }
</div>



    <h4>Oferty zaklepane</h4>
    <div class="row" id="bookedOffers">
    @foreach (var offer in Model.BookedOffers)
    {
        <div class="col-sm-3 dgd-offer-tile" id="offer-@offer.Id">
            <div class="dgd-offer-tile-image">
                <img class="img-responsive" src="https://placeimg.com/500/500/people"/>
            </div>
            <div class="dgd-offer-tile-col">
                <div class="dgd-offer-tile-title">@offer.Title</div>
                <div class="dgd-offer-tile-skill"></div>
            </div>
            <div style="clear: both">
                <div class="dgd-offer-tile-desc">@offer.Description</div>
                <div><button class="btn btn-success" style="position: absolute; bottom: 10px" onclick="bookOffer(@offer.Id)">Oferta dogadana</button></div>
                <div class="dgd-offer-tile-category">@offer.CategoryName</div>
            </div>
        </div>
    }
</div>


    <h4>Oferty dogadane</h4>
    <div class="row" id="closedOffers">
    @foreach (var offer in Model.ClosedOffers)
    {
        <div class="col-sm-3 dgd-offer-tile">
            <div class="dgd-offer-tile-image"><img class="img-responsive" src="https://placeimg.com/500/500/people" /></div>
            <div class="dgd-offer-tile-col">
                <div class="dgd-offer-tile-title">@offer.Title</div>
                <div class="dgd-offer-tile-skill"></div>
            </div>
            <div style="clear: both">
                <div class="dgd-offer-tile-desc">@offer.Description</div>
                <div class="dgd-offer-tile-category">@offer.CategoryName</div>
            </div>
        </div>
    }
</div>


    @section Scripts {
        <script src="~/Scripts/jquery.barrating.min.js"></script>
        <script>
            $("#ddContactRating, #ddReliabilityRating, #ddSkillRating").barrating({
                theme: 'bars-movie'
            });

            $("#btnConfirmRate")
                .click(function () {
                    $.ajax({
                        url: "/Offer/Rate",
                        method: 'POST',
                        data: {
                            "OfferId": $("#hidOfferId").val(),
                            "TargetUserId": $("#hidTargetUserId").val(),
                            "Contact": $("#ddContactRating").val(),
                            "Reliability": $("#ddReliabilityRating").val(),
                            "Skill": $("#ddSkillRating").val()
                        },
                        success: function (data) {
                            if (data.Success) {
                                toastr.success("Ocena dodana pomyślnie!");
                                $("#rateUserModal").modal('hide');
                            }
                        }
                    });
                });

            function bookOffer(id) {
                $.ajax({
                    url: "/Offer/Close",
                    method: 'POST',
                    data: {
                        "offerId": id
                    },
                    success: function (data) {
                        if (data.Success) {
                            toastr.success("Oferta zamknięta.");
                            $("#offer-" + id + " .btn").remove();
                            var conent = $("#offer-" + id).detach();
                            $("#closedOffers").append(conent);
                            $("#hidOfferId").val(id);
                            $("#rateUserModal").modal('show');
                        }
                    }
                });
            }

        </script>
    }
