﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dogadane.pl</title>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/chosen/chosen.css" rel="stylesheet" />
    <link href="~/Content/chosen/bootstrap-chosen.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
<div id="addOfferModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close dgd-modal-close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodaj ofertę</h4>
            </div>
            <div class="modal-body">
                <form id="addOfferForm">
                    <div class="form-group">
                        <label for="tbOfferTitle">Tytuł/problem</label>
                        <input data-parsley-required id="tbOfferTitle" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="tbOfferDescription">Opis</label>
                        <input data-parsley-required id="tbOfferDescription" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="ddOfferCategory">Kategoria</label>
                        <select data-parsley-required id="ddOfferCategory" type="text" class="form-control">
                                
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                <button disabled id="btnConfirmAddOffer" class="btn btn-success pull-right">Dodaj!</button>
            </div>
        </div>

    </div>
</div>
    
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container dgd-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="dgd-navbar-brand">
                <img src="@Url.Content("~/Images/logo.png")">
            </a>
        </div>
        <div class="navbar-collapse collapse" id="dgd-container2">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
            </ul>
            
            <button class="btn btn-success" id="btnAddOffer"><span class="glyphicon glyphicon-plus"></span> Dodaj ofertę!</button>
            @Html.Partial("_LoginPartial")
           
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
            &copy; @DateTime.Now.Year - Dogadane.pl
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/payu.js"></script>
<script>
    $("#btnAddOffer")
        .click(function() {
            $.get('/Offer/GetCategories',
                function (data) {
                    for (var i = 0; i < data.length; i++)
                        $("#ddOfferCategory").append('<option value="' + data[i].Id + '">' + data[i].Name + '</option>');
                    $("#btnConfirmAddOffer").removeAttr('disabled');
                    $("#addOfferModal").modal('show');
                });
        });

    $("#btnConfirmAddOffer")
        .click(function() {
            //TODO: parsley

            $.ajax({
                url: "/Offer/Add",
                method: 'POST',
                data: {
                    "Title": $("#tbOfferTitle").val(),
                    "Description": $("#tbOfferDescription").val(),
                    "CategoryId": $("#ddOfferCategory").val()
                },
                success: function (data) {
                    if (data.Success) {
                        toastr.success("Oferta dodana pomyślnie!");
                        $("#addOfferModal").modal('hide');
                        clearForm();
                    }
                }
            });
        });

    function clearForm() {
        $("#tbOfferTitle").val('');
        $("#tbOfferDescription").val('');
        $("#ddOfferCategory").val('');
    }
</script>
@RenderSection("scripts", required: false)
</body>
</html>
