﻿<style>
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
</style>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right dgd-login-text dgd-login-margin" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @*<li class="dgd-login-text">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "UserManagment", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
        
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Witaj @User.Identity.GetUserName()</a>
            <ul class="dropdown-menu">
                <li><a href=@Url.Action("UserOffers", "Offer") >Oferty do dogadania</a></li>
                <li><a href=@Url.Action("UserManagment", "Account")>Ustawienia konta</a></li>
                <li><a href=@Url.Action("Index", "Payu")>Doładowanie konta</a></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
            </ul>
        </li>

    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dgd-login-text">@Html.ActionLink("Rejestracja", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="dgd-login-text dgd-login-margin">@Html.ActionLink("Logowanie", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

