﻿@{
    ViewBag.Title = "Szukaj";
}
@using Microsoft.AspNet.Identity
@model Dogadane.ViewModels.SearchIndexViewModel

<div class="row dgd-main-search" style="margin-top: 10px">
    <div class="col-md-4 dgd-search-col">
        <div class="form-group">
            <select id="ddCategory" class="form-control" data-placeholder="Kategoria">
                @foreach (var option in Model.CategoryOptions)
                {
                    <option value="@option.Id">@option.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="col-md-6 dgd-search-col">
        <div class="form-group">
            <input id="tbInput" type="text" class="form-control" placeholder="Fraza">
        </div>
    </div>
    <div class="col-md-2 dgd-search-col">
        <div class="form-group">
            <select id="ddRange" type="text" class="form-control" placeholder="Zakres km">
                <option value="1">1km</option>
                <option value="5">5km</option>
                <option value="10">10km</option>
                <option value="50">50km</option>
            </select>
        </div>
    </div>
</div>
<div id="badges" class="container">
    <div class="row dgd-bottom-badges">
        <div class="col-md-4" style="margin-left: -50px; margin-top: 20px;">
            <div class="form-group dgd-tut-img">
                <img src="~/Content/ImagesHome/tut1_360.png" />
            </div>
        </div>

        <div class="col-md-4" style="margin-top: 20px;">
            <div class="form-group">
                <div class="form-group dgd-tut-img">
                    <img src="~/Content/ImagesHome/tut2_360.png" />
                </div>
            </div>
        </div>

        <div class="col-md-4" style="margin-top: 20px;">
            <div class="form-group">
                <div class="form-group dgd-tut-img">
                    <img src="~/Content/ImagesHome/tut3_360.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="results">

    </div>
</div>

<div id="noRecords" style="display: none; text-align: center;" class="container">
    <h4>Brak wyników wyszukiwania</h4>
</div>
@section scripts
{
    <script>
        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        $("#ddCategory")
            .change(function () {
                getResults();
            });

        $("#tbInput")
            .keyup(function () {
                delay(function () {
                    getResults();
                }, 500);
            });

        $("#ddRange")
            .change(function () {
                getResults();
            });

        function getResults() {
            $.get('/Offer/Search?categoryId=' +
                $("#ddCategory").val() +
                "&input=" +
                $("#tbInput").val() +
                "&range=" +
                $("#ddRange").val(),
                function (data) {

                    var template = '<div class="col-sm-3 dgd-offer-tile">' +
                        '<div class="dgd-offer-tile-image"><img src="https://placeimg.com/500/500/people" class="img-responsive"/></div>' +
                        '<div class="dgd-offer-tile-col"><div class="dgd-offer-tile-title">%TITLE%</div> <div class="dgd-offer-tile-skill"><b>Umiejętność:</b> %SKILL%</div></div>' +
                        '<div style="clear: both">' +
                        '<div class="dgd-offer-tile-desc">%DESC%</div>' +
                        '<div><button class="btn btn-success" style="position: absolute; bottom: 10px" onclick="details(%ID%)">Szczegóły</button></div>' +
                        '<div class="dgd-offer-tile-category">%CATEGORY%</div> </div>';
                    $("#results").html('');

                    if (data.length === 0) {
                        $("#noRecords").show();
                    } else {
                        $("#noRecords").hide();
                    }

                    for (var i = 0; i < data.length; i++) {
                        var current = data[i];
                        $("#results").append(template.replace('%TITLE%', current.Title).replace('%DESC%', current.Description).replace('%CATEGORY%', current.CategoryName).replace('%SKILL%', current.MainSkill).replace('%ID%', current.Id));
                    }
                });
        }


        function details(id) {
            window.location.href = '/Offer/Details?offerId=' + id;
            //$.ajax({
            //    url: "/Offer/Details",
            //    method: 'POST',
            //    data: {
            //        "OfferId": id
            //    },
            //    success: function (data) {
            //    }
            //});
        }
            getResults();
    </script>
}