﻿#payu-payment-form button[type=submit] {
    background: url('http://static.payu.com/pl/standard/partners/buttons/payu_account_button_long_03.png');
    background-repeat: no-repeat;
    border: 0px;
    cursor: pointer;
    height: 50px;
    width: 300px;
}