﻿body {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #e8dcb5;
    font-family: Roboto;
    font-weight: 400;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar {
    background-color: #fff4d1;
    height: 60px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-bottom: #eee3c0;
    color: #302825;
    z-index: 100;
}

.dgd-navbar-brand img {
    height: 120px;
    margin-left: 10px;
    margin-top: 10px;
}

#btnAddOffer {
    float: right;
    height: 40px;
    width: 160px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
}

.dgd-main-search {
    padding-bottom: 5px;
    background-color: #d05d20;
    padding-left: 200px;
    z-index: 1000;
    padding-right: 50px;
    border-radius: 10px;
}

.dgd-bottom-badges {
    padding-bottom: 5px;
    background-color: #FFF4D1;
    padding-left: 200px;
    z-index: 1000;
    padding-right: 50px;
    border-radius: 0 0 10px 10px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.navbar-collapse {
    z-index: 100;
    height: 80px !important;
}

.form-control {
    margin-top: 20px;
    height: 40px;
    border-radius: unset;
    border-radius: 5px;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
    border: none;
    height: 40px !important;
    border-bottom: 1px solid #ddd;
}

#dgd-logo {
    position: absolute;
    top: 10px;
}

.dgd-container {
    height: 80px;
}

#dgd-container2 {
    height: 80px !important;
}

.dgd-search-col {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dgd-offer-tile {
    -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    /*background-color: #ffead1;*/
    background-color: #f8f8f8;
    padding: 15px;
    margin: 5px;
    color: #302825;
    height: 180px;
    width: 32.4%;
    border-radius: 4px;
    border: 1px solid #d7baa4;
}

    .dgd-offer-tile a {
        text-decoration: none;
        color: #302825;
    }

.dgd-offer-tile-image {
    width: 60px;
    height: 60px;
    float: left;
    background-color: #fff;
    margin-bottom: 8px;
}

.dgd-offer-tile-title {
    font-size: 20px;
}

.dgd-offer-tile-col {
    float: left;
    margin-top: 6px;
    margin-left: 10px;
}

.dgd-offer-tile-desc {
    margin-top: 10px;
}

.dgd-offer-tile-category {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-weight: 700;
    color: #524a47;
    padding: 5px 10px;
}

.dgd-offer-tile-skill {
}

.dgd-login-text > a {
    color: #302825;
}

.dgd-login-text {
    margin-top: 6px;
    text-decoration: underline;
    color: #302825;
}

    .dgd-login-text:hover {
        color: #86a2d1;
    }

.navbar-inverse .navbar-nav > li > a {
    color: #302825;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #86a2d1;
    }

.dgd-login-margin {
    margin-right: 40px;
}

.dgd-sites-body {
    margin-top: 80px;
}

.dgd-tut-img {
    margin-top: 10px;
    margin-bottom: 25px;
}

#ddCategory {
    border-radius: 5px 0 0 5px;
    border: none;
    border-right: 2px solid #d05d20;
}

#tbInput {
    border-radius: 0;
    border: none;
    border-right: 2px solid #d05d20;
}

#ddRange {
    border-radius: 0 5px 5px 0;
    border: none;
}

.modal-header {
    background-color: #d05d20;
    border-radius: 10px 10px 0 0;
    color: #fff;
}

.dgd-modal-close {
    color: #222;
    opacity: 0.8;
}

.modal-content {
    border-radius: 10px;
}

#noRecords {
    -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: #f3e8c4;
    border-radius: 10px;
}

footer {
    padding: 20px 30px;
    background-color: #dbcea3;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.dgd-details-body {
    padding: 20px 30px;
    background-color: #f8f8f8;
    border-radius: 0 10px 10px 10px;
    font-weight: 400;
    font-size: 16px;
    -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.dgd-details-title {
    padding: 10px 30px;
    background-color: #d05d20;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
    font-weight: 400;
    font-size: 24px;
    -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    width: min-content;
    color: #fff;
    word-break: keep-all;
}

.dgd-details-title-main {
    padding: 10px 20px;
    font-size: 32px;
    color: #302825;

}

.dgd-button-message {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}